<html>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
<!--        <h5 class="modal-title" id="exampleModalLongTitle" th:text="${producto.id != 0}">Añadir un producto</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-floating form-signin w-75 m-5"
              action="#"
              th:action="@{/producto/new/submit}"
              th:object="${productoForm}"
              method="post">
          <div class="form-group">
            <label for="idProducto">id del Producto</label>
            <input type="text" class="form-control" id="idProducto" placeholder="0" th:field="*{id}" disabled>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea class="form-control" id="descripcion" placeholder="descipcion del producto" th:field="*{Descripcion}"></textarea>
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="text" class="form-control" id="precio" placeholder="0.0" th:field="*{precio}">
          </div>
          <div class="form-group">
            <label for="qty">Cantidad</label>
            <input type="number" id="qty" class="form-control" placeholder="0" th:field="*{qty}">
          </div>
          <div class="form-group">
            <label for="iva">IVA</label>
            <input type="text" class="form-control" id="iva" placeholder="21" th:field="*{iva}">
          </div>
          <div class="form-group">
            <label for="inputFamily">Familia</label>
            <input type="text" id="inputFamily" class="form-control" placeholder="familia" th:field="*{familia}">
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</html>