<form class="form-horizontal"
      action="#"
      th:object="${terceroForm}"
      th:action="${terceroForm.id != 0} ? @{/terceros/edit/submit} : @{/terceros/new/submit}"
      method="post">
  <div class="row g-3">
    <input type="number" class="form-label" th:field="*{id}" disabled>
    <div class="col-sm-6">
      <label for="firstName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="firstName" th:field="*{name}">
    </div>
    <div class="col-sm-6">
      <label for="lastName" class="form-label">Apellidos</label>
      <input type="text" class="form-control" th:field="*{apellidos}" id="lastName" placeholder="">
    </div>
    <div class="col-sm-6">
      <label for="cif" class="form-label">CIF</label>
      <input type="text" class="form-control" id="cif" th:field="*{cif}" placeholder="">
    </div>
    <div class="col-12">
      <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
      <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="you@example.com">
    </div>
    <div class="col-12">
      <label for="address" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="address" th:field="*{direccion}" placeholder="1234 Main St" required="">
    </div>
    <div class="col-12">
      <label for="prov" class="form-check-label">Proveedor</label>
      <input type="checkbox" th:field="*{cliente}"  class="form-check-inline" id="prov" value="1">
    </div>
    <div class="col-12">
      <label for="client" class="form-check-label">Cliente</label>
      <input type="checkbox" th:field="*{prov}" class="form-check-inline" id="client" value="1">
    </div>
    <div class="col-md-5">
      <label for="country" class="form-label">Pais</label>
      <input type="text" class="form-control" id="country">
    </div>
    <div class="col-md-4">
      <label for="state" class="form-label">Comunidad Autonoma</label>
      <input type="text" class="form-select" id="state">
    </div>
    <div class="col-md-3">
      <label for="zip" class="form-label">Codigo Postal</label>
      <input type="text" class="form-control" id="zip" placeholder="">
    </div>
  </div>
  <hr class="my-4">
  <button class="w-100 btn btn-primary btn-lg" type="submit">Registrar Facturas</button>

</form>