<div class="px-3 py-2 text-bg-dark w-100">
        <div class="d-flex flex-wrap align-content-lg-between justify-content-between">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Menu</button>
            <a class="text-white page-link" href="/home"><h1>ERPSolved</h1></a>
            <div class="dropdown" id="myDropdown">
                <button id="myInput" onclick="myFunction()" href="#" class="dropdownbtn  d-flex align-items-center text-white text-decoration-none dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/vigliom.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong th:text="${#authentication.name}">vigliom</strong>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="/user">Usuarios</a></li>
<!--                    <li><a class="dropdown-item" href="#">Modo Administrador</a></li>-->
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><form th:action="@{/logout}" method="post"><button class="dropdown-item" type="submit">Desconectar</button></form></li>
                </ul>
            </div>
        </div>
</div>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropdownbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>