<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<!--  Estilos de la pagina via BoostStrap-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<!--  Script del aside y del Header-->
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>

<!--  Script del Modal-->
<script th:src="@{/js/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--Estilos propios de css y js-->
<script th:src="@{/js/headerScript.js}"></script>
<link rel="stylesheet" th:href="@{/css/tarjetas.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
