<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">terceros</title>
  <meta th:replace="~{fragments/head}">
</head>
<body>
<header th:replace="~{fragments/header}"></header>
<aside th:replace="~{fragments/asideOffCanvas}"></aside>

<main class="container">
  <div th:replace="~{cards/tercerosLista}"></div>
  <a href="/terceros/new" class="btn btn-primary">
    Añadir tercero
  </a>
</main>
<div class="dropdown-divider"></div>


<!-- Modal -->
<!--<div th:replace="~{form/formularioUser}"></div>-->
</body>
</html>